$color-brand-primary: #EB2226;
$color-brand-light: hsla(13, 70%, 83%, 0.84);
$color-brand-gradient: linear-gradient(#ef5127, #f09177);
$color-tone-primary: hsl(154, 100%, 50%);
$color-tone-light: hsla(13, 70%, 83%, 0.84);
$color-surface-primary: #ef5127;
$color-surface-secondary: #000000;
$color-surface-tertiary: #164880;
$color-surface-light: hsl(242, 15%, 89%);
$color-surface-superlight: hsl(246, 28%, 95%);
$color-red-primary: hsl(332, 73%, 53%);
$color-shadow-bold: 0 10px 50px -10px hsla(0, 0%, 0%, 0.2);