$color-brand-primary: #EB2226;
$color-brand-light: #d4abadc3;
$color-brand-gradient: linear-gradient(#ca313a,#d6747b);
$color-tone-primary: hsl(154, 100%, 50%);
$color-tone-light: #d4abadc3;
$color-surface-primary: #ca313a;
$color-surface-secondary: black;
$color-surface-tertiary: #164880;
$color-surface-light: hsl(242, 15%, 89%);
$color-surface-superlight: hsl(246, 28%, 95%);
$color-red-primary: hsl(332, 73%, 53%);
$color-shadow-bold: 0 10px 50px -10px hsla(0, 0%, 0%, 0.2);